<div class="write_posts">
<form name="input" action="/save/<%=@country.capitalize%>" method="post">


<br><br>
<input class="write_title" type="preview" name="title" placeholder="Title, e.g. coding in <%=@country.capitalize%>"><br><br>



<textarea class="write_text" rows="10" cols="60" name="text">
</textarea>
<br><br><input class="write_url" type="preview" name="url" value="http://i.telegraph.co.uk/multimedia/archive/00676/borat-mankini404_676844c.jpg">
<br><br>
<input class="buttones" type="submit" value="Submit">

</div>



</form>
</div>




